{% extends 'votingrecord/base.html' %}
{% load i18n thumbnail sekizai_tags %}

{% block votingrecord %}
{% addtoblock "css" %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/votingrecord/detail.css" media="all" />
{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/javascript" src="{{ STATIC_URL }}js/votingrecord/detail.js"></script>
{% endaddtoblock %}
    <div class="breadcrumb">
        <a href="{% url pages-root %}" title="{% trans 'Home' %}">{% trans 'Home' %}</a> &gt;
        <a href="{% url draftlaw_list %}" title="{% trans 'What Laws Are Made' %}">{% trans 'What Laws Are Made' %}</a>
        &gt;
        <a href="{% url votingrecord_list %}" title="{% trans 'Voting Records' %}">{% trans 'Voting Records' %}</a> &gt;
        {{ obj.name }}
    </div>

    <div id="votingrecord">
        <h2 class="heading">{{ obj.name }}</h2>

        <div class="body">
            <ul>
                <li>{% trans 'Number' %}: {{ obj.number }}</li>
                <li>{% trans 'Date' %}: {{ obj.date }}</li>
                {% if amended_by %}
                    <li>{% trans 'Amended by' %}:
                        <ul>{% for rec in amended_by %}
                            <li>{% if rec.name %}<a href="{{ rec.get_absolute_url }}">{{ rec }}</a>{% else %}
                                {{ rec.number }}{% endif %}</li>
                        {% endfor %}</ul>
                    </li>
                {% endif %}
                {% if amending %}
                    <li>{% trans 'Amending' %}:
                        <ul>{% for rec in amending %}
                            <li>{% if rec.name %}<a href="{{ rec.get_absolute_url }}">{{ rec }}</a>{% else %}
                                {{ rec.number }}{% endif %}</li>
                        {% endfor %}</ul>
                    </li>
                {% endif %}
            </ul>
		        {% if counts1 %}
		            <div id="tabs">
		              <ul>
		                <li><a href="#tabs-1">{% trans 'First Vote' %}</a></li>
		                <li><a href="#tabs-2">{% trans 'Second Vote' %}</a></li>
		                <li><a href="#tabs-3">{% trans 'Third Vote' %}</a></li>
		              </ul>
		              <div id="tabs-1">
		                <h2 id="results">{% trans 'Results' %}</h2>
                        <p>{% trans 'Yes' %}: {{ counts1.yes }}, {% trans 'No' %}: {{ counts1.no }}, {% trans 'Abstain/Absent' %}: {{ counts1.absent }}, {% trans 'Total' %}: {{ counts1.total }}</p>
                        <h2 class="heading"><b>{% trans "Voted Yes:" %}</b></h2>
                        <ul>
                            {% for res in votes1 %}
                                {% if res.css == "vote-yes" %}
                                    <li class="{{ res.css }} vote">
                                    {% if res.representative %}
                                        <a title="{{ res.name }}" href="{{ res.representative.get_absolute_url }}">{% thumbnail res.representative.photo '100x84' as im %}
                                            <img src="{% if im %}{{ im }}{% else %}{{ STATIC_URL }}img/person-placeholder.jpg{% endif %}"
                                                 width="100" height="84" border="0"/></a>
                                    {% else %}
                                        <a title="{{ res.name }}"><img src="{{ STATIC_URL }}img/person-placeholder.jpg" width="100" height="84"/></a>
                                    {% endif %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <h2 class="heading"><b>{% trans "Voted No:" %}</b></h2>
                        <ul>
                            {% for res in votes1 %}
                                {% if res.css == "vote-no" %}
                                    <li class="{{ res.css }} vote">
                                    {% if res.representative %}
                                        <a title="{{ res.name }}" href="{{ res.representative.get_absolute_url }}">{% thumbnail res.representative.photo '100x84' as im %}
                                            <img src="{% if im %}{{ im }}{% else %}{{ STATIC_URL }}img/person-placeholder.jpg{% endif %}"
                                                 width="100" height="84" border="0"/></a>
                                    {% else %}
                                        <a title="{{ res.name }}"><img src="{{ STATIC_URL }}img/person-placeholder.jpg" width="100" height="84"/></a>
                                    {% endif %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <h2 class="heading"><b>{% trans 'Abstain/Absent:' %}</b></h2>
                            <ul>
                                {% for res in votes1 %}
                                    {% if res.css == "vote-absent" %}
                                        <li class="{{ res.css }} vote">
                                        {% if res.representative %}
                                            <a title="{{ res.name }}" href="{{ res.representative.get_absolute_url }}">{% thumbnail res.representative.photo '100x84' as im %}
                                            <img src="{% if im %}{{ im }}{% else %}{{ STATIC_URL }}img/person-placeholder.jpg{% endif %}"
                                                 width="100" height="84" border="0"/></a>
                                        {% else %}
                                            <a title="{{ res.name }}"><img src="{{ STATIC_URL }}img/person-placeholder.jpg" width="100" height="84"/></a>
                                        {% endif %}
                                    </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                    </li>
		              </div>
		              <div id="tabs-2">
		                <h2 id="results">{% trans 'Results' %}</h2>
                        <p>{% trans 'Yes' %}: {{ counts2.yes }}, {% trans 'No' %}: {{ counts2.no }}, {% trans 'Abstain/Absent' %}: {{ counts2.absent }}, {% trans 'Total' %}: {{ counts2.total }}</p>
                        <h2 class="heading"><b>{% trans "Voted Yes:" %}</b></h2>
                        <ul>
                            {% for res in votes2 %}
                                {% if res.css == "vote-yes" %}
                                    <li class="{{ res.css }} vote">
                                    {% if res.representative %}
                                        <a title="{{ res.name }}" href="{{ res.representative.get_absolute_url }}">{% thumbnail res.representative.photo '100x84' as im %}
                                            <img src="{% if im %}{{ im }}{% else %}{{ STATIC_URL }}img/person-placeholder.jpg{% endif %}"
                                                 width="100" height="84" border="0"/></a>
                                    {% else %}
                                        <a title="{{ res.name }}"><img src="{{ STATIC_URL }}img/person-placeholder.jpg" width="100" height="84"/></a>
                                    {% endif %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <h2 class="heading"><b>{% trans "Voted No:" %}</b></h2>
                        <ul>
                            {% for res in votes2 %}
                                {% if res.css == "vote-no" %}
                                    <li class="{{ res.css }} vote">
                                    {% if res.representative %}
                                        <a title="{{ res.name }}" href="{{ res.representative.get_absolute_url }}">{% thumbnail res.representative.photo '100x84' as im %}
                                            <img src="{% if im %}{{ im }}{% else %}{{ STATIC_URL }}img/person-placeholder.jpg{% endif %}"
                                                 width="100" height="84" border="0"/></a>
                                    {% else %}
                                        <a title="{{ res.name }}"><img src="{{ STATIC_URL }}img/person-placeholder.jpg" width="100" height="84"/></a>
                                    {% endif %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
						<h2 class="heading"><b>{% trans 'Abstain/Absent:' %}</b></h2>
                            <ul>
                                {% for res in votes2 %}
                                    {% if res.css == "vote-absent" %}
                                        <li class="{{ res.css }} vote">
                                        {% if res.representative %}
                                            <a title="{{ res.name }}" href="{{ res.representative.get_absolute_url }}">{% thumbnail res.representative.photo '100x84' as im %}
                                            <img src="{% if im %}{{ im }}{% else %}{{ STATIC_URL }}img/person-placeholder.jpg{% endif %}"
                                                 width="100" height="84" border="0"/></a>
                                        {% else %}
                                            <a title="{{ res.name }}"><img src="{{ STATIC_URL }}img/person-placeholder.jpg" width="100" height="84"/></a>
                                        {% endif %}
                                    </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                    </li>
		              </div>
		              <div id="tabs-3">
		                <h2 id="results">{% trans 'Results' %}</h2>
                        <p>{% trans 'Yes' %}: {{ counts3.yes }}, {% trans 'No' %}: {{ counts3.no }}, {% trans 'Abstain/Absent' %}: {{ counts3.absent }}, {% trans 'Total' %}: {{ counts3.total }}</p>
                        <h2 class="heading"><b>{% trans "Voted Yes:" %}</b></h2>
                        <ul>
                            {% for res in votes3 %}
                                {% if res.css == "vote-yes" %}
                                    <li class="{{ res.css }} vote">
                                    {% if res.representative %}
                                        <a title="{{ res.name }}" href="{{ res.representative.get_absolute_url }}">{% thumbnail res.representative.photo '100x84' as im %}
                                            <img src="{% if im %}{{ im }}{% else %}{{ STATIC_URL }}img/person-placeholder.jpg{% endif %}"
                                                 width="100" height="84" border="0"/></a>
                                    {% else %}
                                        <a title="{{ res.name }}"><img src="{{ STATIC_URL }}img/person-placeholder.jpg" width="100" height="84"/></a>
                                    {% endif %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <h2 class="heading"><b>{% trans "Voted No:" %}</b></h2>
                        <ul>
                            {% for res in votes3 %}
                                {% if res.css == "vote-no" %}
                                    <li class="{{ res.css }} vote">
                                    {% if res.representative %}
                                        <a title="{{ res.name }}" href="{{ res.representative.get_absolute_url }}">{% thumbnail res.representative.photo '100x84' as im %}
                                            <img src="{% if im %}{{ im }}{% else %}{{ STATIC_URL }}img/person-placeholder.jpg{% endif %}"
                                                 width="100" height="84" border="0"/></a>
                                    {% else %}
                                        <a title="{{ res.name }}"><img src="{{ STATIC_URL }}img/person-placeholder.jpg" width="100" height="84"/></a>
                                    {% endif %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <h2 class="heading"><b>{% trans 'Abstain/Absent:' %}</b></h2>
                            <ul>
                                {% for res in votes3 %}
                                    {% if res.css == "vote-absent" %}
                                        <li class="{{ res.css }} vote">
                                        {% if res.representative %}
                                            <a title="{{ res.name }}" href="{{ res.representative.get_absolute_url }}">{% thumbnail res.representative.photo '100x84' as im %}
                                            <img src="{% if im %}{{ im }}{% else %}{{ STATIC_URL }}img/person-placeholder.jpg{% endif %}"
                                                 width="100" height="84" border="0"/></a>
                                        {% else %}
                                            <a title="{{ res.name }}"><img src="{{ STATIC_URL }}img/person-placeholder.jpg" width="100" height="84"/></a>
                                        {% endif %}
                                    </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                    </li>
		              </div>
	            </div>
               {% endif %}             

            <p class="small">{% trans 'Scraped on' %} {{ object.scrape_date }}</p>
        </div>
    </div>

{% endblock %}



