/*
 * CSS file for app draftlaw, cmsplugin
 */

#draftlaw #find {
    margin-top: 2em;
}

#draftlaw .more {
    text-align: right;
}


#draftlaw #news #navigation {
    text-align: center;
}

#draftlaw #alert {
    position: relative;
    margin-top: 2em;
    background: #d44847 url(../../img/bg-mail.png) no-repeat right bottom;
    border-radius: 2px;
    padding: .5em;
    color: #fff;
}
#draftlaw #alert a {
    color: #fff;
}


#draftlaw #alert #date {
    font-style: italic;
}

#draftlaw #alert #text {
    margin-bottom: 1em;
}


#draftlaw #alert #navigation {
    margin-top: 1em;
    text-align: center;
}

#draftlaw #alert #receive {
    margin: .5em 0;
    text-align: center;
    font-size: 1.3em;
}
#draftlaw #alert #receive > a {
    text-decoration: underline;
}
#draftlaw #alert #receive > a:hover {
    text-decoration: none;
}
