/*
 * CSS file for app draftlaw, cmsplugin
 */

#draftlaw #find {
    margin-top: 2em;
}

#draftlaw .more {
    text-align: right;
}


#draftlaw #news #navigation {
    text-align: center;
}

#draftlaw #alert {
    position: relative;
    margin-top: 2em;
    background: #d44847 url(../../img/bg-mail.png) no-repeat right bottom;
    border-radius: 2px;
    padding: .5em .5em 2.5em .5em;
    color: #fff;
}
#draftlaw #alert a {
    color: #fff;
}
#draftlaw #alert #navigation {
    margin: 0 47%;
}
#draftlaw #alert #receive {
    position: absolute;
    bottom: .5em;
    font-family: "zwo-geo-light", Georgia, Times, serif;
}
