/*
 * CSS file for app draftlaw, list
 */

#draftlaw #search {
    margin: 1em;
}

#draftlaw #search #data {
    width: 35%;

}
#draftlaw #search #submit, #draftlaw #search #reset {
    width: 20%;
    max-width: 4em;
}
#draftlaw #search #submit {
}
#draftlaw #search #reset {
}

/* This is kind of ugly */
#draftlaw #spacer {
    width: 150%;
    height: 1.5em;
    background-color: #f0f0f0;
    position: relative;
    left: -25%;
    margin-top: 2.5em;
}

#draftlaw #list {
    /*float: left;*/
    width: 100%;
}


#draftlaw #container-list {
    height: 86em;
    overflow: auto;
    margin-top: 1em;
    width: 100% !important;
}

#draftlaw #list table {
    width: 99%;
    border-spacing: 0;
}
#draftlaw #list th {
    background: #fff url(../../img/arrows/default.gif) center left no-repeat;
    cursor: pointer;
    text-align: left;
}

#draftlaw #list th#header-draftlaw {
    width: 58%;
    background: none;
    cursor: default;
}
#draftlaw #list th#header-stage {
    width: 25%;
    text-align: center;
}
#draftlaw #list th#header-date {
    width: 17%;
    text-align: center;
}
#draftlaw #list th.headerSortUp {
    background-image: url(../../img/arrows/asc.gif);
}
#draftlaw #list th.headerSortDown {
    background-image: url(../../img/arrows/desc.gif);
}


#draftlaw #list td {
    padding: 1em 0 1em .5em;
    /*border: 1px red solid;*/
    vertical-align: center;
    text-align: left;
}

#draftlaw #list .d-date, #draftlaw #list .d-stage {
    text-align: center;
}

#draftlaw #list .item-selected {
    background: #ddd;
}
#draftlaw #list .item  {
    cursor: pointer;
}

#draftlaw #list .item:hover {
    background: #eff8ff;
}

#draftlaw #list .even {
    background: #ffffff;
}

#draftlaw #list .odd {
    background-color: #fafafa;
}

#draftlaw #container-info {
    float: left;
    margin-left: 1em;
    height: 86em;
    overflow: auto;
}
#draftlaw #container-info > h2 {
    margin-top: 0;
}

#draftlaw #info {
    padding-left: .5em;
    background: #fff url('../../img/bg-white.jpg') repeat 0 0;
}
#draftlaw #info #discussions ul {
    padding-left: 1em;
}

#draftlaw #info #more {
    margin-top: 2em;
}
