{% extends 'simple.html' %}
{% load sekizai_tags %}

{% block css %}
{% addtoblock "css" %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/items-with-thumbs.css" media="all" />
{% endaddtoblock %}
{% addtoblock "css" %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/blog.css" media="all" />
{% endaddtoblock %}
{% endblock %}


{% block content %}
 {% block sidebar %}
 {% endblock %}
    <div id="item-wrapper">{% block blog %}{% endblock %}</div>
{% endblock %}
