{% extends "blog/base_blog.html" %}
{% load i18n %}

{% block blog %}
{% load blog comments tagging_tags inlines markup %}
<div class="breadcrumb">
    <a href="{% url pages-root %}" title="{% trans 'Home' %}">{% trans 'Home' %}</a> &gt;
    <a href="{% url blog_index %}" title="{% trans 'Blog' %}">{% trans 'Blog' %}</a> &gt;
    {{ object.title }}
</div>

<div id="scroll-container" class="scroll-pane">

    <div class="post body">
        <p id="title">{{ object.title }}</p>
        <p id="date">{{ object.publish|date:"d.m.Y" }}</p>

        <div id="body">{{ object.body|render_inlines }}</div>

        {% tags_for_object object as tag_list %}
        {% if tag_list %}<p class="inline_tag_list"><strong>{% trans "Related tags" %}:</strong> {{ tag_list|join:", " }}</p>{% endif %}
    </div>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                  fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div class="fb-comments" data-href="http://{{ request.META.HTTP_HOST }}{{ request.META.PATH_INFO }}" data-num-posts="5" data-width="500"></div>
</div>
{% endblock %}
