/*
 * CSS file for app contact
 */

.opened {
    left: 255px;
    width: 775px;
    overflow: auto;
    padding: 1em;
}

#folded-who {
    right: 98px;
}
#folded-what {
    right: 49px;
}
#folded-question {
    right: 0px;
}

#contact {
    position: relative;
}
#contact form, #contact p {
    margin-left: 1.3em;
}
#contact input, textarea {
    width: 300px;
    border-radius: 2px;
}
