/*
 * CSS file for app Representative, base
 */

/* folded */
.opened {
    left: 118px;
}
#folded-who {
    left: 69px;
}
#folded-who .button {
    opacity: 1;
}
#folded-what {
    right: 49px;
}
#folded-question {
    right: 0;
}



#representative {
    position: relative;
    padding: 0 1em;
}


#representative #income .income-base,
#representative #attendance .attendance-attended {
    background: #66b2f0;
}
#representative #income .income-additional,
#representative #attendance .attendance-absent {
    background: #4491d7;
}
#representative #income .income-other {
    background: #1d7ac8;
}
#representative #income #bar,
#representative #attendance #bar {
    width: 100%;
}

#representative #income,
#representative #attendance {
    margin: 3em 0;
}
#representative #income h2,
#representative #attendance h2 {
    text-align: left;
    margin-bottom: 0;
}
#representative #income #bar .cell,
#representative #attendance #bar .cell {
    padding: .3em 0;
}

#representative #attendance #bar .leftalign {
    text-align: left;
}
#representative #attendance #bar .rightalign {
    text-align: right;
}

#representative #income #bar .cell {
    text-align: center;
}
#representative #income #legend {
    margin-top: 1em;
}
#representative #income #legend span {
    width: .7em;
    height: .7em;
    display: inline-block;
    margin-right: .5em;
}
