/*
 * CSS file for app Representative, base
 */

/* folded */
#folded-who {
    left: 6%;
}
.opened {
    left: 10%;
}
#folded-who .button {
    opacity: 1;
}
#folded-what {
    right: 4%;
    z-index: 6; /* overlap question */
}
#folded-question {
    right: 0;
}



.opened > #representative {
    height: 95%; /* should be 98% */
    overflow: auto;
}

#representative {
    position: relative;
    padding: 0 1em;
}


#representative #income .income-base,
#representative #attendance .attendance-attended {
    background: #0fa4f4;
}
#representative #income .income-additional {
    background: #34b3f6;
}
#representative #attendance .attendance-absent {
    background: #d4d4d4;
}
#representative #income .income-other {
    background: #6dcdff;
}
#representative #income #bar,
#representative #attendance #bar,
#representative #attendance #bar-labels {
    width: 100%;
}

#representative #income,
#representative #attendance {
    margin: 1em 0;
}
#representative #income h2,
#representative #attendance h2 {
    text-align: left;
    margin-bottom: 0;
}


#representative #attendance #group {
    font-size: .8em;
    font-style: italic;
}

#representative #income #bar .cell,
#representative #attendance #bar .cell,
#representative #attendance #bar-labels .cell {
    padding: .3em 0;
}

.leftalign {
    text-align: left;
}
.rightalign {
    text-align: right;
}

#representative #income #bar .cell {
    text-align: center;
}
#representative #income #legend {
    margin-top: 1em;
}
#representative #income #legend .legend-color {
    width: .7em;
    height: .7em;
    display: inline-block;
    margin-right: .5em;
}


/* voting records */
#representative #container-votingrecords {
    height: 94%;
    overflow: auto;
}
#representative #votingrecords {
    margin-left: .5em;
}
#representative #votingrecords .vote-yes,
#representative #votingrecords .vote-yes a {
    color: #0a0;
}
#representative #votingrecords .vote-no, #representative #votingrecords .vote-no a {
    color: #a00;
}
#representative #votingrecords .vote-abstention, #representative #votingrecords .vote-abstention a {
    color: #aa0;
}
#representative #votingrecords .vote-absent, #representative #votingrecords .vote-absent a {
    color: #222;
}


