/*
 * CSS file for app Representative, plugin
 */

#representative #random #photo {
    float: left;
    width: 70px;
}
#representative #random #info {
    float: left;
    width: 200px;
}
#representative #random #info #name {
    margin-bottom: .2em;
}
#representative #random .details {
    margin-top: 1em;
}
#representative #random .more {
    text-align: center;
}


#representative #find {
    margin-top: 2em;
    width: 220px;
}
