/*
 * CSS file for app Representative, page detail
 */

#representative #data-text {
    float: left;
    width: 65%;
}

#representative #data-text #portrait {
    border-bottom: 1px solid #ccc;
    margin-bottom: .5em;
    padding-bottom: .3em;
}
#representative #data-text #photo {
    float: left;
    width: 110px;
}
#representative #data-text #party {
    margin-top: 1em;
}
#representative #data-text #party-logo {
    float: left;
    width: 45px;
}

#representative #data-text tr > td:first-child {
    width: 28%;
}
#representative #data-text td {
    padding-top: 1em;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}



#representative #votingrecords {
    display: none;
}
#representative #votingrecords ul {
    height: 300px;
    overflow: auto;
}
#representative .vote-yes, #representative .vote-yes a {
    color: #0a0;
}
#representative .vote-no, #representative .vote-no a {
    color: #a00;
}
#representative .vote-abstention, #representative .vote-abstention a {
    color: #aa0;
}
#votingrecord .vote-absent, #representative .vote-absent a {
    color: #222;
}


#representative #data-boxes {
    float: left;
    width: 32%;
    padding-left: 1em;
}
#representative #data-boxes .box {
    margin: 2em 0;
}
#representative #data-boxes .box h2,
#representative #data-boxes .box > div {
    width: 100%;
}
#representative #data-boxes .box > div > div,
#representative #data-boxes .box > div > ul {
    margin-left: .6em;
}

#representative #data-boxes #box-attendance,
#representative #data-boxes #box-attendance #attendance {
    margin-top: 0;
}

#representative #data-boxes #box-questions .table {
    width: 100%;
}
#representative #data-boxes #box-questions #label-answered {
    text-align: left;
}
#representative #data-boxes #box-questions #label-noresponse {
    text-align: right;
}
#representative #data-boxes #box-questions #bar-questions {
    width: 100%;
    text-align: center;
}
#representative #data-boxes #box-questions #bar-answered,
#representative #data-boxes #box-questions #bar-noresponse {
    color: #fff;
    padding: .3em;
}
#representative #data-boxes #box-questions #bar-answered {
    background: #1d7ac8;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    text-align: left;
}
#representative #data-boxes #box-questions #bar-noresponse {
    background: #d44847;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    text-align: right;
}
