/*
 * CSS file for app Representative, page find
 */

#folded-who, .breadcrumb {
    display: none;
}

#representative {
    height: 100% !important;
}

#representative {
    margin: 0 !important;
    padding: 0 !important;
}


#representative #info {
    float: left;
    width: 25%;
    height: 100%;
    padding: 0 1em;
    position: relative;
}
#representative #info #data {
    margin-top: 2em;
}
#representative #info #data > div {
    list-style: none;
    margin: 1em 0;
    padding: 0;
}

#representative #info #data #photo {
    float: left;
    width: 70px;
    margin: 0;
}
#representative #info #data #short {
}
#representative #info #data #party {
    margin-top: .5em;
}
#representative #info #data #more {
    text-align: right;
}


#representative #select {
    margin-left: .5em;
    height: 100%;
}
#representative #select > form {
    height: 8%;
    margin-bottom: .5em;
}
#representative #select ul, #representative #select #offer-fulltext-search {
    padding-left: 1em;
}
#representative #select #offer-fulltext-search {
    display: none;
    text-align: left;
    margin: .5em 0 1em 0;
}

#representative #filter {
    margin: .5em 0 1em 1em;
    width: 98%;
}
#representative #filter #cell-text {
    width: 50%;
}
#representative #filter #filter-text {
    width: 79%;
}
#representative #filter #filter-submit {
    width: 20%;
}

#representative #filter .cell {
    /*width: 99%;*/
    display: inline-block;
    margin-right: 1em;
}
#representative #filter #cell-electiontype {
    /*width: 20%;*/
}
#representative #filter #cell-party {
    /*width: 30%;*/
}
#representative #filter option {
    padding: .2em;
}

#representative #select #unit {
    overflow: auto;
}

#representative #members {
    list-style: none;
}
#representative #members .member {
    display: inline-block;
    margin: 0.3em 0.1em 0.3em;
    width: 106px;
    font-size: .9em;
    cursor: pointer;
}

#representative #members .member-selected {
    background: #ccc;
}


#representative #members .member .representative-name {
    margin-top: 0.5em;
    display: none;
}
#representative #members .member .representative-name a {
    text-decoration: none;
    color: #fff;
}

#representative .party-parliament, #representative .party-tbilisi, #representative .party-ajara {
    color: #fff;
}

#representative #party-cdm, #representative h3 {
    padding-left: 0.5em;
}

#representative #party-cdm, #representative .party-cdm h3 {
    /*background: #d64c65;*/
    border-left: 6px solid #d64c65;
}
#representative #party-labour, #representative .party-labour h3 {
    /*background: #6a86b8;*/
    border-left: 6px solid #6a86b8;
}

#representative #party-ndp, #representative .party-ndp h3{
    border-left: 6px solid #bf5f6d;
}
#representative #party-republicans, #representative .party-republicans h3 {
    border-left: 6px solid #eb8942;
}
#representative #party-uno, #representative .party-uno h3 {
    border-left: 6px solid #8cc574;
}
#representative #party-unknown, #representative .party-unknown h3 {
    border-left: 6px solid #555;
}
#representative #party-unm, #representative .party-unm h3 {
    border-left: 6px solid #ff8280;
}
#representative #party-unm, #representative .party-gd h3 {
    border-left: 6px solid #87c5fe;
}
#representative #party-alliance, #representative .party-alliance h3 {
    border-left: 6px solid #aacccc;
}
#representative #party-top, #representative .party-top h3 {
    border-left: 6px solid #ee9911;
}
#representative #party-tbilisi, #representative .party-tbilisi h3 {
    border-left: 6px solid #000;
}
#representative #party-ajara, #representative .party-ajara h3 {
    border-left: 6px solid #000;
}

#representative #unit-select {
    margin: 1em auto;
    text-align: center;
    height: 5%;
}
#representative #unit-slider {
    margin: 0 15%;
    width: 70%;
    height: .3em;
}
.ui-slider-horizontal {
    border: 1px solid #e08c8c;
}
.ui-slider-horizontal .ui-state-default {
    border-radius: 1em;
    border: 0;
    background: #e08c8c;
    cursor: move;
    outline: none;
}

#representative #unit-legend {
    margin-top: .5em;
    width: 90%;
    display: table;
}
#representative #unit-legend #unit-parliament {
    display: table-cell;
}
#representative #unit-legend #unit-ajara {
    display: table-cell;
    text-align: center;
}
#representative #unit-legend #unit-tbilisi {
    display: table-cell;
    text-align: right;
}
