/*
 * CSS file for app Representative, page find
 */

.opened {
    left: 6%;
    width: 86%;
}
#folded-who, .breadcrumb {
    display: none;
}

.opened #representative {
    height: 100% !important;
}

#representative {
    margin: 0 !important;
    padding: 0 !important;
}


#representative #info {
    float: left;
    width: 25%;
    height: 100%;
    padding: 0 1em;
    position: relative;
}
#representative #info #data {
    margin-top: 2em;
}
#representative #info #data > div {
    list-style: none;
    margin: 1em 0;
    padding: 0;
}

#representative #info #data #photo {
    float: left;
    width: 70px;
    margin: 0;
}
#representative #info #data #short {
}
#representative #info #data #party {
    margin-top: .5em;
}
#representative #info #data #more {
    text-align: right;
}


#representative #select {
    float: left;
    margin-left: .5em;
    width: 71%;
    height: 100%;
}
#representative #select > form {
    height: 8%;
    margin-bottom: .5em;
}
#representative #select ul, #representative #select #offer-fulltext-search {
    padding-left: 1em;
}
#representative #select #offer-fulltext-search {
    display: none;
    text-align: left;
    margin: .5em 0 1em 0;
}

#representative #filter {
    font-family: "zwo-geo-light", Georgia, Times, serif;
    margin: .5em 0 1em 1em;
    width: 98%;
}
#representative #filter #cell-text {
    width: 50%;
}
#representative #filter #filter-text {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    width: 79%;
}
#representative #filter #filter-submit {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 20%;
}
#representative #filter select {
    font-family: "zwo-geo-light", Georgia, Times, serif;
    width: 99%;
}
#representative #filter #cell-electiontype {
    width: 20%;
}
#representative #filter #cell-party {
    width: 30%;
}
#representative #filter option {
    padding: .2em;
}

#representative #select #unit {
    height: 300px;
    overflow: auto;
}

#representative #members {
    list-style: none;
}
#representative #members .member {
    display: inline-block;
    padding: 6px 0 6px 6px;
    margin: 0 1px 1px 0;
    width: 106px;
    height: 110px;
    font-size: .9em;
}

#representative #members .member-selected {
    background: #ccc;
}


#representative #members .member .representative-name {
    margin-top: 0.5em;
}
#representative #members .member .representative-name a {
    text-decoration: none;
    color: #fff;
}


#representative .party-parliament, #representative .party-tbilisi, #representative .party-ajara {
    color: #fff;
}
#representative #party-cdm, #representative .party-cdm {
    background: #d64c65;
}
#representative #party-labour, #representative .party-labour {
    background: #6a86b8;
}
#representative #party-ndp, #representative .party-ndp {
    background: #bf5f6d;
}
#representative #party-republicans, #representative .party-republicans {
    background: #eb8942;
}
#representative #party-uno, #representative .party-uno {
    background: #8cc574;
}
#representative #party-unknown, #representative .party-unknown {
    background: #555;
}
#representative #party-unm, #representative .party-unm {
    background: #f87c7c;
}
#representative #party-tbilisi, #representative .party-tbilisi {
    background: #000;
}
#representative #party-ajara, #representative .party-ajara {
    background: #000;
}


#representative #unit-select {
    margin: 1em auto;
    text-align: center;
    font-family: "zwo-geo-light", Georgia, Times, serif;
    height: 5%;
}
#representative #unit-slider {
    margin: 0 15%;
    width: 70%;
    height: .3em;
}
.ui-slider-horizontal {
    border: 1px solid #e08c8c;
}
.ui-slider-horizontal .ui-state-default {
    border-radius: 1em;
    border: 0;
    background: #e08c8c;
    cursor: move;
    outline: none;
}

#representative #unit-legend {
    margin-top: .5em;
    width: 90%;
    display: table;
}
#representative #unit-legend #unit-parliament {
    display: table-cell;
}
#representative #unit-legend #unit-ajara {
    display: table-cell;
    text-align: center;
}
#representative #unit-legend #unit-tbilisi {
    display: table-cell;
    text-align: right;
}
