/*
 * CSS file for app Representative, page detail
 */

.opened > #representative {
    height: 94% !important;
}

#representative #results .cell {
    vertical-align: middle;
}
#representative #results .name {
    padding-left: 1em;
}
