#representative table {
    width: 100%;
}

#representative table th#date {
    width: 8%;
    text-align: left;
}

#representative span.vote {
    background-image: url(/static/img/thumbs.png);
    width: 32px;
    height: 32px;
    display: block;
}

.vote-absent span.vote {
    background-position: 0 32px;
}

.vote-no span.vote {
    background-position: 0 64px;
}

#representative table td {
    padding: 18px 0;
    border-bottom: 1px dotted;
}