#representative table {
    width:100%;
}

#representative table th#date {
width: 8%;
text-align: left;
}

#representative span.vote{
    background: url(/static/img/thumbs.png);
    width: 32px;
    height: 32px;
}

#representative tr.vote-yes .vote{

}