{% load i18n %}
<ul>
    <li id="title">{% trans 'Title' %}: {{ obj.title }}</li>
    <li id="bureau-date">{% trans 'Bureau Date' %}: {{ obj.bureau_date }}</li>
    <li id="bill-number">{% trans 'Bill Number' %}: {{ obj.bill_number }}</li>
{% if obj.initiator %}<li id="initiator">{% trans 'Initiator' %}: <span class="representative-name">{{ obj.initiator_linked|safe }}</span></li>{% endif %}
{% if obj.author %}<li id="author" class="representative-name">{% trans 'Author' %}: <span class="representative-name">{{ obj.author_linked|safe }}</span></li>{% endif %}
    <li id="status">{% trans 'Status' %}: {{ obj.status }}</li>
    <li id="summary">{% trans 'Summary' %}: {{ obj.summary }}</li>
{% if obj.law_number %}<li id="law-number">{% trans 'Law Number' %}: {{ obj.law_number }}</a></li>{% endif %}
{% if obj.voting_record %}<li id="voting-record"><a href="{{ obj.voting_record.get_absolute_url }}">{% trans 'Voting Record' %}</a></li>{% endif %}
{% if obj.full_text_url %}<li id="full-text-url"><a href="{{ obj.full_text_url }}">{% trans 'Full Text' %}</a></li>{% endif %}
{% if obj.enacted_text_url %}<li id="enacted-text-url"><a href="{{ obj.enacted_text_url }}">{% trans 'Enacted Text' %}</a></li>{% endif %}
{% if obj.discussions %}<li id="discussions">{% trans 'Discussions' %}
    <ul>{% for discussion in obj.discussions.all %}
        <li>{{ discussion.date }} :: {{ discussion.place }}</li>
    {% endfor %}</ul>
{% endif %}
</ul>

<div id="more"><a href="{{ obj.get_absolute_url }}">{% trans 'More' %} &raquo;</a></div>
