{% extends 'draftlaw/base.html' %}
{% load i18n sekizai_tags %}

{% block draftlaw %}
{% addtoblock "css" %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/draftlaw/list.css" media="all" />
{% endaddtoblock %}

<div class="breadcrumb">
    <a href="{% url pages-root %}" title="{% trans 'Home' %}">{% trans 'Home' %}</a> &gt;
    <a href="{% url draftlaw_list %}" title="{% trans 'What Laws Are Made' %}">{% trans 'What Laws Are Made' %}</a>
</div>

<div id="draftlaw">
    <div id="list">
        <form id="search">
            <input type="text" id="data" name="data" placeholder="{% trans 'Type a Draft Law title' %}" /><input type="submit" id="submit" name="submit" value="{% trans 'Search' %}" />
            <input type="reset" id="reset" name="reset" value="{% trans 'Reset' %}" />
        </form>
        <div id="spacer">&nbsp;</div>
        <div id="container-list" class="scroll-pane">
        <table id="drafts-table">
            <thead>
            <tr>
                <th class="heading sortable" id="header-date">{% trans 'Date' %}</th>
                <th class="heading" id="header-draftlaw">{% trans 'Draft Law' %}</th>
                <th class="heading sortable" id="header-stage">{% trans 'Discussion Stage' %} <span class="explain explain-heading" title="{% trans 'In order to become enacted, each draft law must pass 6 hearings: three committee hearings and three plenary hearings. Each box represents one stage in this process' %}">?</span></th>
            </tr>
            </thead>
            <tbody id="items"></tbody>
        </table>
        <div id="list-bottom">{% trans 'List more' %}</div>
        </div>
    </div>

    <div style="clear:both"></div>
</div>

{% addtoblock "js" %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/hoverIntent.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/tablesorter.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/draftlaw/list.js"></script>
{% endaddtoblock %}
<script type="text/javascript">
var URL_DraftLawInfo = '{% url draftlaw_info 0 %}';
var URL_DraftLawItems = '{% url draftlaw_items 0 %}';
</script>
{% endblock %}
