{% extends 'draftlaw/base.html' %}
{% load i18n sekizai_tags %}

{% block draftlaw %}
{% addtoblock "css" %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/draftlaw/list.css" media="all" />
{% endaddtoblock %}

<div class="breadcrumb">
    <a href="{% url pages-root %}" title="{% trans 'Home' %}">{% trans 'Home' %}</a> &gt;
    <a href="{% url draftlaw_list %}" title="{% trans 'What Laws Are Made' %}">{% trans 'What Laws Are Made' %}</a>
</div>

<!-- Draft law list starts -->
{% if LANGUAGE_CODE == "en" %}
	{% include "draftlaw/listEn.html" %}
{% else %}
	{% include "draftlaw/listKa.html" %}
{% endif %}

<!-- Draft law list ends -->

{% addtoblock "js" %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/hoverIntent.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/tablesorter.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/draftlaw/list.js"></script>
{% endaddtoblock %}
<script type="text/javascript">
var URL_DraftLawInfo = '{% url draftlaw_info 0 %}';
var URL_DraftLawItems = '{% url draftlaw_items 0 %}';
</script>
{% endblock %}
