{% load i18n %}

{% if episode_list %}
    <div id="item-wrapper" class="episode-list list body">
        {% for episode in episode_list %}
            <div class="podcast-episode mod item">
                    <div class="thumbnail">
                        {% if episode.img_episode_sm %}
                            <img src="{{ episode.img_episode_sm.url }}"
                                alt="{{ episode.img_episode_sm.name }}"
                                width="{{ episode.img_episode_sm.width }}"
                                height="{{ episode.img_episode_sm.height }}"
                                class="" />
                        {% else %}
                            <p class="date">
                                <span class="date-day">{{ episode.published|date:"d" }}</span>
                                <span class="date-rest">{{ episode.published|date:"Y m" }}</span>
                            </p>
                        {% endif %}
                    </div>
                <div class="item-details">
                    <h3 class="title">{{ episode.title }}</h3>
                    <span class="smaller date">
                        {{ episode.published|date:"F j, Y" }}
                    </span>
                    {% for enclosure in episode.enclosure_set.all %}
                        {% if enclosure.mime == 'mp3' %}
                            <audio src="{{ enclosure.url }}"></audio>
                            <span class="sep">
                                <a href="{{ enclosure.url }}" class="tiptip download"
                                    title="{% trans "to download right click and select 'save link as'" %}">
                                    {% trans "Download / Stream" %}
                                </a>
                            </span>
                        {% endif %}
                    {% endfor %}
                    {% if episode.tracklist %}
                        <span class="sep">
                            <a href="#tracklist-{{ episode.id }}" rel="facebox" class="list">{% trans "Tracklist" %}</a>
                        </span>
                        <div id="tracklist-{{ episode.id }}" class="hidden">
                            <h3>{{ episode.title }} :: {% trans "Tracklist" %}</h3>
                            <div class="tracklist">
                                {{ episode.tracklist|linenumbers|linebreaksbr }}
                            </div>
                        </div>
                    {% endif %}
                    <div class="tease">{{ episode.description|safe }}</div>
               </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <h2>{% trans "Coming soon..." %}</h2>
{% endif %}
