{% extends "podcasting/podcasting_base.html" %}
{% load sekizai_tags %}

{% block head_title %}{{ object.title }}{% endblock %}

{% block body_class %}page-episode-detail{% endblock %}

{% block podcast %}
    {% include "podcasting/_episode_detail.html" %}
{% endblock %}
{% block js %}
{% addtoblock "js" %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/mediaelement-and-player.min.js"></script>
    <script>
        $('audio').mediaelementplayer({
            defaultAudioWidth: 580,
            features : ['playpause','progress','current','duration','tracks','volume','fullscreen','googleanalytics'],
        });
    </script>
{% endaddtoblock %}
{% endblock js %}
