/*
 * base stylesheet for shenmartav.ge
 */

html, body {
    padding: 0;
    margin: 0;
    font-family: "bpg-arial-2009", Georgia, Times, serif;
    font-size: .9em;
    background: #fff;
    color: #666;
    height: 100%;
}


input, select, option, textarea {
    margin: 0;
    font-family: "zwo-geo-light", Georgia, Times, serif;
    font-size: 1em;
    padding: .6em;
    height: 2.6em;
    background: #fff;
    color: #000;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    outline: 0;
}
input[type='password'], input[type='text'] {
    border: .1em inset #ccc;
}
input[type='submit'], input[type='button'], input[type='reset'] {
    background: #e08c8c;
    color: #fff;
    border: .1em solid #e08c8c;
    cursor: pointer;
}
input.find {
    width: 100%;
    background: #fff url('../img/search.png') no-repeat 98% 50%;
    padding: .6em 35px .6em .6em;
}
select {
    margin: 0;
    border-radius: 2px;
    border: .1em solid #ccc;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.6em;
    font-weight: bold;
    font-family: "zwo-geo-light", Georgia, Times, serif;
    color: #d44847;
    margin: 1.2em 0 0 0;
}
h1 a {
    color: #d44847;
    text-decoration: none;
}
h1 a:hover {
    color: #e08c8c;
    text-decoration: none;
}
.subh1 {
    font-size: .8em;
    font-family: "zwo-geo-light", Georgia, Times, serif;
    text-align: center;
    width: 70%;
    margin: 0 auto 2em auto;
}

h2 {
    font-size: 1.4em;
    font-weight: normal;
    font-family: "zwo-geo-light", Georgia, Times, serif;
    margin-top: 0;
    text-align: center;
    text-transform: uppercase;
}
h3 {
    font-size: 1.2em;
    font-family: "zwo-geo-light", Georgia, Times, serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    margin-bottom: .5em;
}
h4 {
    font-size: 1.1em;
    font-family: "zwo-geo-light", Georgia, Times, serif;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #1d7ac8;
}
a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
li {
    margin: .5em 0;
}
li:first-child {
    margin-top: 0;
}


/* jquery ui */
ul.ui-widget-content {
    font-family: "bpg-arial-2009", Georgia, Times, serif;
}
ul.ui-autocomplete .ui-menu-item a.ui-state-hover {
    background: #d44847;
    color: #fff;
    border: 1px solid #fff;
}


#content {
    width: 100%;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    overflow: hidden !important;
}

#header {
    margin: .5em auto;
    text-align: center;
}
.column #header {
    text-align: left;
    margin-left: 1em;
}
#header #logo {
    opacity: 1;
    text-shadow: .1em .1em #9b0000;
}
#header #logo #wheel {
    background: url('../img/logo-shenmartav.png') 0 0 no-repeat;
    vertical-align: middle;
    width: 55px;
    height: 55px;
}
#header #logo #wheel.rotate {
    background: #e08c8c url('../img/logo-shenmartav-rotate.gif') 0 0 no-repeat;
}

#header a {
    color: #fff;
    text-decoration: none;
}
#header a:hover {
    text-decoration: underline;
}
#header #language-chooser {
    margin-top: 2em;
}

#header #google_translate_element {
    margin-top: .5em;
    margin-right: 0;
}
#header #google_translate_element a {
    color: #666;
}

#folded-nav #header #navigation {
    margin-top: 2.5em;
    font-family: "zwo-geo-light", Georgia, Times, serif;
}
#header #navigation li {
    margin: 1.5em 0;
}
#header .button img {
    vertical-align: middle;
    margin-right: .3em;
}

#footer {
    position: absolute;
    bottom: 2em;
    z-index: 2;
    left: 50%;
    margin-left: -25%;
}
.column #footer {
    left: 1em;
    margin-left: 0;
}
#footer #socialbuttons {
    list-style: none;
    margin-bottom: 1em;
}
#footer #socialbuttons li {
    text-align: center;
}
.column #footer #socialbuttons li {
    display: inline;
}
#footer #sponsors {
    list-style: none;
}
#footer #sponsors li {
    display: inline;
}


.column {
    background-repeat: repeat;
    background: #fff url(../img/bg-white.jpg) 0 0 repeat;
    height: 100%;
    width: 25%;
    position: absolute;
    top: 0;
}

#col-nav {
    background: #d44847 url(../img/bg-red.jpg) 0 0 repeat;
    color: #fff;
    left: 0;
}
#col-nav h1 {
    text-align: left;
}
#col-nav a:hover, #folded-nav a:hover {
    text-decoration: none;
}

#col-who {
    left: 25%;
}
#col-what {
    left: 50%;
}
#col-question {
    left: 75%;
}

img.column-bg {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}


.button, #col-nav h1 {
    opacity: .5;
}
.button:hover, #col-nav h1:hover {
    opacity: 1;
}
.button-selected {
    opacity: 1.;
}


.white {
    color: #fff;
}

.wait {
    cursor: wait;
}

.smaller {
    font-size: .7em;
}
.bigger {
    font-size: 1.2em;
}
.evenbigger {
    font-size: 1.5em;
}
.fineprint {
    font-size: .5em;
}

.required {
    color: #d44847;
}

.error {
    color: #f00;
}


.shadow, .folded {
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.3); 
}
.folded {
    height: 100%;
}

.heading {
    color: #fff;
    background: #e08c8c;
    padding: .5em;
    margin-bottom: .5em;
    border-radius: .2em;
    border: .1em solid #e08c8c;
    font-weight: normal;
    font-family: "zwo-geo-light", Georgia, Times, serif;
    font-size: 1em;
    text-transform: uppercase;
    text-align: left;
}

.breadcrumb {
    color: #aaa;
    margin: 1em;
    height: 3%;
}
.breadcrumb a {
    color: #aaa !important;
    text-decoration: none;
}
.breadcrumb a:hover {
    text-decoration: underline;
}


/* folded items */
.opened {
    position: absolute;
    top: 0;
    background: #fff;
    padding: 0 .5em;
    width: 80%;
    height: 100%;
}

.folded {
    text-align: center;
    position: absolute;
    padding: 0 .2em;
    background-repeat: repeat;
    background: #fff url(../img/bg-white.jpg);
}
.folded img {
    margin-top: 1.2em;
}
#folded-nav {
    width: 6%;
    left: 0;
    background: #d44847 url(../img/bg-red.jpg) 0 0 repeat;
    z-index: 7;
    text-align: left;
}
#folded-nav img {
    margin-top: 0;
    padding-bottom: 0;
}

#folded-nav #google_translate_element a span:first-child {
    display: none;
}
#folded-nav #footer #sponsors li {
    display: block;
    margin-top: .5em;
}


#folded-who {
    width: 4%;
    z-index: 6;
}
#folded-what {
    width: 4%;
    z-index: 5;
}
#folded-question {
    width: 4%;
    z-index: 4;
}


.table { display: table; }
.row { display: table-row; }
.cell { display: table-cell; }

.body {
    margin-left: .5em;
}

.pagination {
    margin-top: 2em;
}

.more, .more a {
    margin: .5em 0;
    font-size: 1em;
    font-weight: bold;
    font-family: "zwo-geo-light", Georgia, Times, serif;
}

.label {
    color: #333;
}

.explain {
    background: #ddd;
    font-size: .9em;
    padding: .2em;
    cursor: help;
}
.heading .explain {
    background: #f0acac;
}

.hidden {
    display: none;
}

.representative-name, select[name="representative"] {
    font-family: "zwo-geo-light", Georgia, Times, serif;
}
