/*
 * CSS file for simple pages
 */

.opened {
    left: 25%;
    width: 61%;
}

.opened > .breadcrumb {
    margin-left: .5em;
}


#folded-who {
    right: 8%;
}
#folded-what {
    right: 4%;
}
#folded-question {
    right: 0;
}
