/*
 * CSS file for simple pages
 */

.opened {
    left: 25%;
    padding: 0 1em;
    width: 61%
}
.opened a {
    color: #000;
    text-decoration: underline;
}


#folded-who {
    right: 8%;
}
#folded-what {
    right: 4%;
}
#folded-question {
    right: 0;
}
