{% load i18n representative %}
<div id="attendance">
    {% with attendance=obj.attendance %}
    <h2>{% trans 'Voting attendance' %}: {{ obj.attendance.percentage }}</h2>
    <div id="bar" class="table">
        <div class="row">
            <div class="cell leftalign" style="width:{{ attendance.attended|percentage:attendance.total }}">{{ attendance.attended }}</div>
            <div class="cell rightalign" style="width:{{ attendance.absent|percentage:attendance.total }}">{{ attendance.absent }}</div>
        </div>
        <div class="row">
            <div class="cell attendance-attended">&nbsp;</div>
            <div class="cell attendance-absent">&nbsp;</div>
        </div>
        <div class="row">
            <div class="cell leftalign">{% trans 'Attended' %}</div>
            <div class="cell rightalign">{% trans 'Absent' %}</div>
        </div>
    </div>
    {% endwith %}
</div>
