{% extends 'representative/base.html' %}
{% load thumbnail sekizai_tags i18n representative %}

{% block representative %}
{% addtoblock "css" %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/representative/detail.css" media="all" />
{% endaddtoblock %}

<div class="breadcrumb">
    <a href="{% url pages-root %}" title="{% trans 'Home' %}">{% trans 'Home' %}</a> &gt;
    <a href="{% url representative_find %}" title="{% trans 'Who Makes Laws' %}">{% trans 'Who Makes Laws' %}</a> &gt;
    {{ obj.unit.name }}
</div>

<div id="representative" class="scroll-pane">
    <div id="data-text">
        <div id="portrait">
            <div id="photo">{% thumbnail obj.photo '100x84' as im %} <img src="{% if im %}{{ im }}{% else %}{{ STATIC_URL }}img/person-placeholder.jpg{% endif %}" width="100" height="84" /></div>
            <div id="short">
                <div id="name" class="evenbigger representative-name">{{ obj.name }}</div>
                <div id="majoritarian-partylist-unit">{% if obj.is_majoritarian %}{% trans 'Majoritarian' %}{% else %}{% trans 'Partylist' %}{% endif %}, {{ obj.unit.name }}</div>
                <div id="party">
                    <div id="party-logo"><a href="{{ obj.party.url }}" title="{{ obj.party }}"><img src="{{ STATIC_URL }}img/parties/logo-{{ obj.party.acronym }}.png" width="40" height="40" border="0" /></a></div>
                    <div id="party-name">{{ obj.party }}</div>
                    <div style="clear: both"></div>
                </div>
            </div>
            <div style="clear: both"></div>
        </div>

        <table>
    {% if obj.is_majoritarian %}
        <tr>
            <td>{% trans 'Electoral District' %}</td>
            <td>{{ obj.electoral_district }}</td>
        </tr>
    {% endif %}
        <tr>
            <td>{% trans 'Elected Date' %}</td>
            <td>{{ obj.elected }}</td>
        </tr>
{% if obj.faction %}
        <tr>
            <td>{% trans 'Faction' %}</td>
            <td>{{ obj.faction }}</td>
        </tr>
{% endif %}
{% if obj.committee %}
        <tr>
            <td>{% ifequal obj.unit.id 1 %}{% trans 'Committee' %}{% else %}{% trans 'Commission' %}{% endifequal %}</td>
            <td>{{ obj.committee }}</td>
        </tr>
{% endif %}
{% if obj.description %}
        <tr>
            <td>{% trans 'Activities' %}</td>
            <td>{{ obj.description }}</td>
        </tr>
{% endif %}
        <tr>
            <td><a id="button-votingrecords" href="{% url representative_votingrecords obj.pk %}">{% trans 'Voting Records' %}</a></td>
            <td><div id="container-votingrecords" class="scroll-pane"><ul id="votingrecords"></ul></div></td>
        </tr>
        <tr>
            <td>{% trans 'Salary' %}</td>
            <td><a href="{{ decl.get_absolute_url }}#wages">{{ obj.salary }}</a></td>
        </div>
        <tr>
            <td>{% trans 'Expenses' %}</td>
            <td><a href="{{ decl.get_absolute_url }}#otherinclexpenses">{{ obj.expenses }}</a></td>
        </tr>
        <tr>
            <td>{% trans 'Property & Assets' %}</td>
            <td><a href="{{ decl.get_absolute_url }}#property">{{ obj.property_assets }}</a></td>
        </tr>
        <tr>
            <td>{% trans 'Website' %}</td>
            <td><a href="{{ obj.url }}">{{ obj.url }}</a></td>
        </tr>
        <tr>
            <td>{% trans 'Work Experience' %}</td>
            <td id="workexperience"><ul>{% for experience in obj.position_set.all %}
                        <li>{{ experience.start_date|repdate }} {% if experience.end_date %}- {{ experience.end_date|repdate }}{% endif %} {{ experience.title }}</li>
            {% endfor %}</ul></td>
            </li>
        </tr>
        <tr>
            <td>{% trans 'Birth Date & Place' %}</td>
            <td>{{ obj.date_of_birth|repdate }}, {{ obj.pob }}</td>
        </tr>
        <tr>
            <td>{% trans 'Family Status' %}</td>
            <td>{{ obj.family_status }}</td>
        </tr>
        <tr>
            <td>{% trans 'Education' %}</td>
            <td>{{ obj.education }}</td>
        </tr>
        <tr>
            <td>{% trans 'Contact Address / Phone' %}</td>
            <td>{{ obj.contact_address_phone }}</td>
        </tr>
        <tr>
            <td>{% trans 'Additional Info' %}</td>
            <td>{% for info in obj.additional_information.all %}
                    <div>{{ info.value }}</div>
            {% endfor %}</td>
        </tr>
        </table>
    </div>

    <div id="data-boxes">
        <div class="box" id="box-attendance">
            {% include 'representative/attendance.html' %}
        </div>
        <div class="box" id="box-income">
            {% include 'representative/income.html' %}
        </div>
        <div class="box" id="box-questions">
            <div id="questions">
                <h2 class="heading">{% trans 'Questions and Answers' %}</h2>
                <div class="table">
                    <div class="row">
                        <div class="cell" id="label-answered">{% trans 'Answered' %}</div>
                        <div class="cell" id="label-noresponse">{% trans 'No Response' %}</div>
                    </div>
                    <div class="row" id="bar-questions">
                        <div class="cell" id="bar-answered" style="width: {{ questions.answered.relative }}%">{{ questions.answered.absolute }}</div>
                        <div class="cell" id="bar-noresponse" style="width: {{ questions.noresponse.relative }}%">{{ questions.noresponse.absolute }}</div>
                    </div>
                </div>
                <div>
                    {% if questions.last %}
                    <div><span class="label">{% trans 'Question' %}:</span> {{ questions.last.question }}</div>
                    {% if questions.last.answer %}<div><span class="label">{% trans 'Answer' %}:</span> {{ questions.last.answer }}</div>{% endif %}
                    {% endif %}
                </div>
                <div><a href="{% url question_ask_representative obj.pk %}">{% trans 'Ask a question!' %} &raquo;</a></div>
            </div>
        </div>
        <div class="box" id="box-votecounts">
            <div id="votecounts">
                <h2 class="heading">{% trans 'Vote Counts' %}</h2>
                <div>{% trans 'In Favour' %}: {{ votecounts.yes }}</div>
                <div>{% trans 'Against' %}: {{ votecounts.no }}</div>
                <div>{% trans 'Abstained' %}: {{ votecounts.abstained }}</div>
                <div>{% trans 'Absent' %}: {{ votecounts.absent }}</div>
            </div>
        </div>
    </div>
    <div style="clear: both"></div>
</div>

{% addtoblock "js" %}
<script type="text/javascript" src="{{ STATIC_URL }}js/representative/detail.js"></script>
{% endaddtoblock %}
{% endblock %}
