{% load i18n representative %}
<div id="income">
    <h2>{% trans 'Annual Income' %}</h2>
    <div id="bar" class="table">
        <div class="row">
            {% with income=obj.income  %}
            <div class="cell" style="width:{{ income.base|percentage:income.total }}">{{ income.base }}</div>
            <div class="cell" style="width:{{ income.additional|percentage:income.total }}">{{ income.additional }}</div>
            <div class="cell" style="width:{{ income.other|percentage:income.other }}">{{ income.other }}</div>
            {% endwith %}
        </div>
        <div class="row">
            <div class="cell income-base">&nbsp;</div>
            <div class="cell income-additional">&nbsp;</div>
            <div class="cell income-other">&nbsp;</div>
        </div>
    </div>
    <ul id="legend">
        <li><span class="income-base">&nbsp;</span>{% trans 'Base salary' %}</li>
        <li><span class="income-additional">&nbsp;</span>{% trans 'Additional income' %}</li>
        <li><span class="income-other">&nbsp;</span>{% trans 'Other income' %}</li>
    </ul>
</div>
