{% load thumbnail i18n sekizai_tags %}
<div id="unit-list">
	<div id="members">
		<ul id="mps-row1">{% render_block "row1" %}
		</ul>
		<ul id="mps-row2">{% render_block "row2" %}
		</ul>
		<ul id="mps-row3">{% render_block "row3" %}
		</ul>
	</div>
</div>

{% for member in members %}
<!-- {% cycle 'row1' 'row2' 'row3' as rownum %}-->

{% if rownum == 'row1' %} {% addtoblock "row1" %}
<li class="member party-{{ member.party__acronym }} {% if member.is_majoritarian %}majoritarian{% else %}partylist{% endif %}" id="member-{{ member.pk}}"><a name="member-{{ member.pk }}"></a>
	<div class="photo">
		<a title="{{ member.name }}" href="{% url person member.pk member.slug %}">{% thumbnail member.photo '100x84' as im %}<img src="{% if im %}{{ im }}{% else %}{{ STATIC_URL }}img/person-placeholder.jpg{% endif %}" width="100" height="96" border="0" /></a>
	</div></li>
{% endaddtoblock %} {% else %}{% if rownum == 'row2' %} {% addtoblock "row2" %}
<li class="member party-{{ member.party__acronym }} {% if member.is_majoritarian %}majoritarian{% else %}partylist{% endif %}" id="member-{{ member.pk}}"><a name="member-{{ member.pk }}"></a>
	<div class="photo">
		<a title="{{ member.name }}" href="{% url person member.pk member.slug %}">{% thumbnail member.photo '100x84' as im %}<img src="{% if im %}{{ im }}{% else %}{{ STATIC_URL }}img/person-placeholder.jpg{% endif %}" width="100" height="96" border="0" /></a>
	</div></li>
{% endaddtoblock %} {% else %} {% addtoblock "row3" %}
<li class="member party-{{ member.party__acronym }} {% if member.is_majoritarian %}majoritarian{% else %}partylist{% endif %}" id="member-{{ member.pk}}"><a name="member-{{ member.pk }}"></a>
	<div class="photo">
		<a title="{{ member.name }}" href="{% url person member.pk member.slug %}">{% thumbnail member.photo '100x84' as im %}<img src="{% if im %}{{ im }}{% else %}{{ STATIC_URL }}img/person-placeholder.jpg{% endif %}" width="100" height="96" border="0" /></a>
	</div></li>
{% endaddtoblock %} {% endif %}{% endif %} {% endfor %}
