{% extends 'representative/base.html' %}
{% load i18n sekizai_tags %}

{% block representative %}
{% addtoblock "css" %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/representative/votingrecords.css" media="all" />
{% endaddtoblock %}

<div class="breadcrumb">
    <a href="{% url pages-root %}" title="{% trans 'Home' %}">{% trans 'Home' %}</a> &gt;
    <a href="{% url representative_find %}" title="{% trans 'Who Makes Laws' %}">{% trans 'Who Makes Laws' %}</a> &gt;
    <a href="{% url person obj.pk obj.slug %}" title="{{ obj.name }}">{{ obj.name }}</a> &gt;
    {% trans 'Voting Records' %}
</div>

<div id="representative">
    <h2 class="heading">{% trans 'Voting Records for' %} {{ obj.name }}</h2>

    <h5>{% trans "Filter by vote" %}</h3>
    <div class="filter-records">
        <select id="filter-by-vote">
            <option name="vote-yes">{% trans "Yes" %}</option>
            <option name="vote-no">{% trans "No" %}</option>
            <option name="vote-absent">{% trans "Absent/Abstain" %}</option>
        </select>
    </div>

    <div id="container-votingrecords" class="scroll-pane">
    <table>
        <thead>
        <tr>
            <th id="date">{% trans "Voting Date" %}</th>
            <th id="record">{% trans "Record" %}</th>
            <th id="vote">{% trans "Vote" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for result in results %}
            <tr class="{{ result.css }}">
                <td class="date">{{ result.record__date|date:'c' }}</td>
                <td><a href="{{ result.url }}" name="{{ result.css }}">{{ result.record__name }}</a></td>
                <td><span class="vote" title="{{ result.vote }}"></span></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
</div>
{% addtoblock "js" %}
<script type="text/javascript" src="{{ STATIC_URL }}js/representative/votingrecords.js"></script>
{% endaddtoblock %}
{% endblock %}
