/*
 * CSS file for app votingrecord, base
 */

/* folded */
#folded-who {
    left: 6%
}
#folded-what {
    left: 10%;
}
#folded-what .button {
    opacity: 1;
}
.opened {
    left: 14%;
}
#folded-question {
    right: 0;
}


/* all pages */
#votingrecord {
    position: relative;
    padding: 0 1em;
    height: 94%;
}


#votingrecord .vote-yes, #votingrecord .vote-yes a {
    color: #0a0;
}
#votingrecord .vote-no, #votingrecord .vote-no a {
    color: #a00;
}
#votingrecord .vote-abstention, #votingrecord .vote-abstention a {
    color: #aa0;
}
#votingrecord .vote-absent, #votingrecord .vote-absent a {
    color: #222;
}


#votingrecord .body {
    height: 95%;
}
#votingrecord .body > ul {
    height: 96%;
}
#votingrecord #results {
    height: 72%;
}
#votingrecord #results > ul {
    height: 100%;
    overflow: auto;
}
#votingrecord #records {
    max-height: 550px;
    overflow: auto;
}
