#votingrecord .rep-name {
    clear: both;
    display: inline-block;
    position: absolute;
    left: 20px;
}

#votingrecord ul li {
    display: inline-block;
}

#votingrecord li.vote {
    position: relative;

}

#votingrecord .rep-name {
    clear: both;
    display: inline-block;
    position: absolute;
    left: 0px;
    bottom: -12px;
}

.opened {
    width: 100% !important;
}

.ui-widget-header{
    background: transparent;
    border: transparent;
}


.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #4d92c9; background: #ffffff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #eb8f00; }


.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #666; text-decoration: none; }

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #4d92c9; text-decoration: none; }

.ui-state-hover a, .ui-state-hover a:hover { color: #4d92c9; text-decoration: none; }

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #4d92c9; background: #fff url(images/ui-bg_glass_100_fdf5ce_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #4d92c9; }


