/*
 * CSS file for app Question
 */

/* folded */
#folded-who {
    left: 6%;
}
#folded-what {
    left: 10%;
}
#folded-question {
    left: 14%;
}
#folded-question .button {
    opacity: 1;
}
.opened {
    left: 18%;
}


#question {
    position: relative;
    padding: 0 1em;
}


/* ask form */
#question #ask table {
    border-spacing: 0;
}
#question #ask td {
    padding: .5em .5em .5em 0;
    margin: 0;
    vertical-align: middle;
}
#question #ask input,
#question #ask select,
#question #ask option,
#question #ask textarea {
    width: 100%;
}
#question #ask textarea {
    height: 50px;
}
#question #ask input[type="submit"]:hover, input[type="button"]:hover {
    cursor: pointer;
}

/* the question */
#question #the-question #questioner {
    margin: 1em 0 2em .5em;
}
#question #the-question #questionee {
    margin: 0 0 3em .5em;
}
#question #the-question .photo {
    float: left;
    width: 70px;
}
#question #the-question .data {
    float: left;
    width: 90%;
}
#question #the-question .data .text {
    margin-top: .5em;
}
