/*
 * CSS file for app Question, plugin
 */

#question .photo {
    float: left;
    width: 70px;
}
#question .info {
    float: left;
    width: 200px;
}
#question .info div {
    margin-top: .5em;
}


#question #most-active, #question #least-active {
    margin-top: 1em;
}

#question .activity-bar {
    width: 99%;
    background: #fff;
    padding: 0;
    margin-top: .5em;
    border-radius: 2px;
}
#question .activity-bar .activity-val {
    height: .8em;
    background: #688eb2;
    color: #fff;
    border-radius: 2px;
    font-size: .8em;
    padding: .8em .5em;
}


#question #most-active {
    margin-top: 2em;
}



#question #ask {
    margin-top: 2em;
}
#question #ask form {
    margin-left: 0;
}
#question #ask select {
    width: 180px;
}
#question #ask input {
    width: 70px;
}
