/*
 * CSS file for app Question, plugin
 */

#question .photo {
    float: left;
    width: 30%;
}
#question .info {
    float: left;
    width: 70%;
}


#question #latest h2 {
    text-align: left;
}

#question #most-active, #question #least-active {
    margin-top: 1em;
    font-size: .8em;
}

#question .activity > div {
    padding: .2em;
    border-radius: 2px;
}
#question .activity .unanswered {
    background: #fff;
    color: #000;
}
#question .activity .answered {
    background: #4491D7;
    color: #fff;
}


#question #most-active {
    margin-top: 2em;
}



#question #ask {
    margin-top: 2em;
}
#question #ask form {
    margin-left: 0;
}
#question #ask select {
    width: 80%;
}
#question #ask input {
    width: 20%;
    background: #d44847;
    border: .2em solid #d44847;
}
