/*
 * CSS file for app Question, list
 */

#question #list {
    display: inline-block;
    zoom: 1;
    width: 60%;
    overflow: auto;
}

#question #list table {
    width: 99%;
    border-spacing: 0;
}

#question #list th {
    background: url(../../img/arrows/default.gif) center right no-repeat;
    cursor: pointer;
    text-align: left;
}
#question #list th#header-representative {
    width: 30%;
}
#question #list th#header-question {
    width: 55%;
}
#question #list th#header-answered {
    width: 15%;
}
#question #list th.headerSortUp {
    background-image: url(../../img/arrows/asc.gif);
}
#question #list th.headerSortDown {
    background-image: url(../../img/arrows/desc.gif);
}

#question #list td {
    text-align: left;
    vertical-align: top;
    border-bottom: 1px solid #aaa;
    padding: .5em 0 .5em .5em;
}

#question #list .item-selected {
    background: #ddd;
}


#question #list .status {
    padding: .5em;
    width: 80%;
    border-radius: 2px;
}
#question #list .answered {
    background: #1d7ac8;
    color: #1d7ac8;
}
#question #list .unanswered-new {
    background: #e08c8c;
    color: #e08c8c;
}
#question #list .unanswered-old {
    background: #d44847;
    color: #d44847;
}


#question #sidebar {
    width: 37%;
    display: inline-block;
    zoom: 1;
    vertical-align: top;
}

#question #info {
    min-height: 15em;
    height: 15em;
    overflow-y: auto;
}

#question #info #the-question {
    margin-bottom: 1em;
}

#question #info #the-question #questioner {
    width: 48%;
    display: inline-block;
    vertical-align: top
}
#question #info #the-question #questionee {
    width: 48%;
    display: inline-block;
    vertical-align: top;
}

#question #info #the-question .data {
    width: 75%;
}
