{% load i18n thumbnail %}
{% with representative=obj.representative %}
<h2 class="heading">{% trans 'Question to' %} {{ representative.name }}</h2>
<div id="the-question">
    <div id="questioner">
        <div class="photo"><img src="{{ STATIC_URL }}img/person-placeholder.jpg" width="65" height="60" border="0" /></div>
        <div class="data">
            <div>{{ obj.name }}</div>
            <div class="smaller">{{ obj.date}}</div>
            <div class="text">{{ obj.question|linebreaks }}</div>
        </div>
        <div style="clear:both"></div>
    </div>

    <div id="questionee">
        {% if representative.faction != None %}
            <div class="photo"><a title="{{ representative.name }}" href="{{ representative.get_absolute_url }}">{% thumbnail representative.photo '65x60' as im %}<img src="{% if im %}{{ im }}{% else %}{{ STATIC_URL }}img/person-placeholder.jpg{% endif %}" width="65" height="60" border="0" /></a>
        {% else %}
            <div class="photo">{% thumbnail representative.photo '65x60' as im %}<img src="{% if im %}{{ im }}{% else %}{{ STATIC_URL }}img/person-placeholder.jpg{% endif %}" width="65" height="60" border="0" />
        {% endif %}
    </div>
        <div class="data">
            {% if representative.faction != None %}
                <div class="representative-name"><a id="representative-name" title="{{ representative.name }}" href="{{ representative.get_absolute_url }}">{{ representative.name }}</a></div>
            {% else %}
                <div class="representative-name">{{ representative.name }}</div>
            {% endif %}
            <div class="smaller">{% trans 'Answered' %}: {{ answered_questions }}/{{ total_questions }} {% trans 'question(s)' %}</div>
            <div class="text">{% if obj.answer %}{{ obj.answer|safe|linebreaks }}{% else %}<span class="unanswered">{% trans 'Not yet answered!' %}</span>{% endif %}</div>
        </div>
        <div style="clear:both"></div>
    </div>
{% endwith %}
</div>
