{% load i18n %}
{% for item in items.object_list %}
    <tr class="item" id="item-{{ item.pk }}">
        <td class="representative-name">
            {% with representative=item.representative %}<a name="item-{{ item.pk }}" title="{% trans 'Answered' %} {{ representative.answered }}%" href="{{ representative.get_absolute_url }}">{{ representative.name }}</a>{% endwith %}
        </td>
        <td>{{ item.question|slice:":100" }} ...</td>
        <td>{{ item.date|date:"Y-m-d" }}</td>
        <td><div class="status {% if item.answer %}answered">0{% else %}unanswered">1{% endif %}</div></td>
    </tr>
{% endfor %}
