{% ifequal gender 1 %}ქალ{% endifequal %}ბატონო {{ first_name  }}

მოქალაქემ {{ user_name }} მოცემული შეკითხვა დაგისვათ ვებგვერდის – ShenMartav.ge საშუალებით: 

„{{ question }}“

გაცნობებთ, რომ შეკითხვა და თქვენი პასუხი გამოქვეყნდება ვებგვერდზე. ვებვერდზე ასევე გამოჩნდება თქვენთვის დასმული შეკითხვებისა და თქვენ მიერ გაცემული პასუხების თანაფარდობა.

„შენ მართავ!“ ხორციელდება არასამთავრობო ორგანიზაციების: „მშვიდობის, დემოკრატიის და განვითარების კავკასიური ინსტიტუტი“ და „საერთაშორისო გამჭვირვალობა – საქართველოს“ მიერ. შენ მართავ! მიუკერძოებელი ვებგვერდია და არ არის დაკავშირებული ან შექმნილი რომელიმე პოლიტიკური პარტიის რეკლამირებისათვის.
