{% ifequal gender 1 %}ქალ{% endifequal %}ბატონო {{ first_name  }}

მოქალაქემ {{ user_name }} მოცემული შეკითხვა დაგისვათ ვებგვერდის – ChemiParliament.ge საშუალებით: 

„{{ question }}“

გაცნობებთ, რომ შეკითხვა და თქვენი პასუხი გამოქვეყნდება ვებგვერდზე. ვებვერდზე ასევე გამოჩნდება თქვენთვის დასმული შეკითხვებისა და თქვენ მიერ გაცემული პასუხების თანაფარდობა.

ChemiParlamenti.ge იმართება „საერთაშორისო გამჭვირვალობა – საქართველოს“ მიერ. ChemiParlamenti.ge მიუკერძოებელი ვებგვერდია და არ არის დაკავშირებული ან შექმნილი რომელიმე პოლიტიკური პარტიის რეკლამირებისათვის.
