/*
 * CSS file for app basic.blog, base
 */

.opened {
    left: 25%;
    width: 61%;
}
.opened .breadcrumb,
.opened .fb-comments {
    margin-left: .5em;
}

.opened #title {
    font-size: 1.2em;
    color: #1d7ac8;
}
.opened #date, .opened #body {
    font-size: .9em;
}

.opened .fb-comments {
    margin-top: 1em;
}


#folded-who {
    right: 8%;
}
#folded-what {
    right: 4%;
}
#folded-question {
    right: 0;
}
