/*
 * CSS file for app basic.blog, base
 */

.opened {
    left: 25%;
    width: 61%;
    padding: 0 1em;
}
.opened .date {
    border-bottom: 1px solid #aaa;
}
.opened .breadcrumb {
    margin-left: 0;
    margin-top: 0;
}

#folded-who {
    right: 8%;
}
#folded-what {
    right: 4%;
}
#folded-question {
    right: 0;
}
