{% load i18n thumbnail sekizai_tags cms_tags custom_filters %}

{% addtoblock "css" %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/question/base.css" media="all" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/question/cmsplugin.css" media="all" />
{% endaddtoblock %}
{% addtoblock "js" %}
<script type="text/javascript" src="{{ STATIC_URL }}js/question/cmsplugin.js"></script>
{% endaddtoblock %}

<div class="question">
    <h1><a href="{% url question_list %}">{% trans 'Your Questions' %}</a></h1>
    <div class="subh1"><a href="{% url question_list %}">{% trans 'You can view questions asked to Representatives and their answers' %}</a></div>
    <div id="ask">
        <a href="{% url question_ask %}"><img src="{{ STATIC_URL }}/img/ask-{{ LANGUAGE_CODE }}.png" alt="{% trans 'Make yourself heard!' %}"></a>
        <h3><a href="{% url question_ask %}">{% trans 'Ask a question' %}</a></h3>
    </div>
    <div class="subh1"><a href="{% url question_ask %}">{% trans 'You can submit questions to Representatives here' %}</a></div>
</div>
