{% load i18n thumbnail sekizai_tags cms_tags custom_filters %}

{% addtoblock "css" %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/question/base.css" media="all" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/question/cmsplugin.css" media="all" />
{% endaddtoblock %}
{% addtoblock "js" %}
<script type="text/javascript" src="{{ STATIC_URL }}js/question/cmsplugin.js"></script>
{% endaddtoblock %}

<div class="question">
    <h1><a href="{% url question_list %}">{% trans 'Your Questions' %}</a></h1>
    <div class="subh1">{% trans 'You can submit questions to Representatives here' %}</div>
    <div id="ask">
        <a href="{% url question_list %}"><img src="{{ STATIC_URL }}/img/ask-{{ LANGUAGE_CODE }}.png" alt="{% trans 'Make yourself heard!' %}"></a>
        <h4><a href="{% url question_list %}">{% trans 'Ask a question' %}</a></h4>
    </div>
{% if latest %}
    <div id="latest">
        <h2>{% trans 'Latest question' %}</h2>
        <div class="photo">
            <a title="{{ latest.representative.name }}" href="{% url representative_find %}representative/{{ latest.representative.pk }}">{% thumbnail latest.representative.photo '65x60' as im %}<img src="{% if im %}{{ im }}{% else %}{{ STATIC_URL }}img/person-placeholder.jpg{% endif %}" width="65" height="60" border="0" /></a>
        </div>
        <div class="info">
            <div class="representative-name"><a title="{{ latest.representative.name }}" href="{% url representative_find %}representative/{{ latest.representative.pk }}">{{ latest.representative.name }}</a></div>
            <div id="latest-question"><span class="label">{% trans 'Question' %}:</span> {{ latest.question|slice:"100" }} ...</div>
            <div id="latest-answer"><span class="label">{% trans 'Answer' %}:</span> {% if latest.answer %}{{ latest.answer|shorten_text:100 }}{% else %}{% trans 'Not yet answered!' %}{% endif %}</div>
            <div class="more"><a href="{{ latest.get_absolute_url }}">{% trans 'More' %} &raquo;</a></div>
        </div>
        <div style="clear:both"></div>
    </div>
{% endif %}
</div>
