{% load i18n cms_tags %}
<div class="wrapper">
	<div class="col1">
		<ul id="sponsors">
			<li class="button"><a title="{% trans 'Transparency International Georgia' %}" href="http://transparency.ge"><img src="{{ STATIC_URL }}img/tig-logo-footer.jpg" border="0" width="156" height="46" /></a></li>
			<li class="button"><a title="{% trans 'Sida' %}" href="http://www.sida.se/English/"><img src="{{ STATIC_URL }}img/sida.png" border="0" width="55" height="48" /></a></li>
		</ul>
	</div>
	<div class="col2">
		<div id="copyright">&copy 2006 - {% now "Y" %}</div>
	</div>
	<div class="col3">
		<div id="socialbuttons">
			<span id="joinus">{% trans "Join us" %}</span>
			<ul id="socialicons">
				<a href="https://www.facebook.com/ChemiParlamenti" title="{% trans 'Visit us on Facebook' %}" target="_blank"><li class="button" id="facebook"></li></a>
				<a href="https://twitter.com/share?text=%40TIGeorgiaGeo%20%40TIGeorgiaEng" class="twitter-share-button" title="{% trans 'Share this URL on twitter' %}" target="_blank"><li class="button" id="twitter"></li></a>
				<a title="{% trans 'RSS Blog feed' %}" href="{{ url_feed|default:"/feed" }}"><li class="button" id="feed"></li></a>
			</ul>
		</div>
	</div>
</div>
