{% load i18n cms_tags %}
{% get_current_language as lang %}
<ul id="socialbuttons">
    <li class="button" id="feed"><a title="{% trans 'RSS Blog feed' %}" href="{% url feed_blogposts %}"><img src="{{ STATIC_URL }}img/icon-feed.png" border="0" width="24" height="24" /></a></li>
    <li class="button" id="facebook"><a href="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fdev.shenmartav.ge/{{ lang }}{{ request.get_full_path }}" title="{% trans 'Like this page on facebook' %}" target="_blank"><img src="{{ STATIC_URL }}img/icon-facebook.png" border="0" width="24" height="24" /></a></li>
    <li class="button" id="twitter"><a href="https://twitter.com/share?text=%40TIGeorgiaGeo%20%40TIGeorgiaEng" class="twitter-share-button" title="{% trans 'Share this URL on twitter' %}" target="_blank"><img src="{{ STATIC_URL }}img/icon-twitter.png" border="0" width="24" height="24" /></a></li>
</ul>
<ul id="sponsors">
    <li class="button"><a title="{% trans 'Caucasus Institute for Peace Democracy and Development' %}" href="http://cipdd.org"><img src="{{ STATIC_URL }}img/logo-cipdd.png" border="0" width="56" height="54" /></a></li>
    <li class="button"><a title="{% trans 'Transparency International Georgia' %}" href="http://transparency.ge"><img src="{{ STATIC_URL }}img/logo-tig.png" border="0" width="56" height="54" /></a></li>
</ul>
