{% load i18n menu_tags cms_tags %}
<div id="header">
    <h1 class="button"><a href="{% url pages-root %}" title="{% trans 'My Parliament' %}">{% trans 'My Parliament' %}</a></h1>
    <div id="language-chooser">{% language_chooser %}</div>
    <ul id="navigation">
        <li class="button"><a id="home" title="{% trans 'Home' %}" href="{% url pages-root %}">{% trans 'Home' %}</a></li>
        <li class="button"><a id="mps" title="{% trans 'Parliamentarians'%}" href="">{% trans 'Parliamentarians' %}</a></li>
        <li class="button"><a id="laws" title="{% trans 'Draft laws' %}" href="">{% trans 'Draft laws' %}</a></li>
        <li class="button"><a id="podcast" title="{% trans 'Weekly podcast about Parliament' %}" href="{% url podcasting_all_episodes_list %}">{% trans 'Podcast' %}</a></li>
        <li class="button"><a id="blog" title="{% trans 'Blog posts for MyParliament' %}" href="{% url blog_index %}">{% trans 'Blog' %}</a></li>
        <li class="button"><a id="about" title="{% trans 'About this website' %}" href="{% page_url 'about' %}">{% trans 'About' %}</a></li>
    </ul>
    <div id="google_translate_element"></div>
</div>
