{% load i18n menu_tags cms_tags %}
<div id="header">
    <h1 id="logo" class="button"><a href="{% url pages-root %}" title="{% trans 'You Rule!' %}"><img id="wheel" src="{{STATIC_URL}}img/spacer.png" width="47" height="47" alt="{% trans 'You Rule!' %}" /> {% trans 'You Rule!' %}</a></h1>
    <div id="language-chooser">
        {% language_chooser %}
        <div id="google_translate_element"></div>
    </div>
    <ul id="navigation">
        <li class="button"><a id="home" title="{% trans 'Home sweet Home' %}" href="{% url pages-root %}"><img src="{{ STATIC_URL }}img/nav-home.png" border="0" width="17" height="17" /> {% trans 'Home' %}</a></li>
        <li class="button"><a id="blog" title="{% trans 'Blog posts for shenmartav' %}" href="{% url blog_index %}"><img src="{{ STATIC_URL }}img/nav-blog.png" border="0" width="17" height="17" /> {% trans 'Blog' %}</a></li>
        <li class="button"><a id="about" title="{% trans 'About this website' %}" href="{% page_url 'about' %}"><img src="{{ STATIC_URL }}img/nav-about.png" border="0" width="17" height="17" /> {% trans 'About' %}</a></li>
        <li class="button"><a id="contact" title="{% trans 'Contact us' %}" href="{% url contact_show %}"><img src="{{ STATIC_URL }}img/nav-contact.png" border="0" width="17" height="17" /> {% trans 'Contact' %}</a></li>
    </ul>
</div>

<div id="footer">{% include 'footer.html' %}</div>

<div id="commit">COMMIT 8406e21b5c421b212d0c7d015a64b0fd53907430, DATE Wed Aug 8 08:34:22 2012 +0200</div>
<img class="column-bg" src="{{ STATIC_URL }}img/bg-parliament.png" width="100%" height="25%" />
