{% extends 'base.html' %}
{% load cms_tags menu_tags sekizai_tags %}

{% block css %}
{% addtoblock "css" %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/simple.css" media="all" />
{% endaddtoblock %}
{% endblock %}

{% block js %}
{% addtoblock "js" %}
<script type="text/javascript" src="{{ STATIC_URL }}js/smsregister/smsregister.js"></script>
{% endaddtoblock %}
{% endblock %}

{% block content %}
<!--simple.html-->
    {% block sidebar %}
    {% endblock %}
{% endblock %}
