{% extends 'base.html' %}
{% load sekizai_tags %}

{% block css %}
{% addtoblock "css" %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/incomedeclaration/base.css" media="all" />
{% endaddtoblock %}
{% endblock %}

{% block content %}
    {% include 'folded/menu.html' %}
    {% include 'folded/who.html' %}
<div class="opened">
    {% include 'incomedeclaration/breadcrumb.html' %}
    {% block incomedeclaration %}{% endblock %}
</div>
    {% include 'folded/what.html' %}
    {% include 'folded/question.html' %}
{% endblock %}
